<br/>
<form clrForm (ngSubmit)="submitSettings()" [formGroup]="strategyHeartbeatSettingsForm">

  <section class="form-block">
    Define the interval of the heartbeat requests.
  </section>

  <section class="form-block">

    <div class="form-group">
      <label for="toggleStrategyEnabled">Heartbeat strategy is enabled</label>
      <div class="toggle-switch">
        <input type="checkbox" id="toggleStrategyEnabled" formControlName="toggleStrategyEnabled">
        <label for="toggleStrategyEnabled"></label>
      </div>
    </div>

    <div class="form-group sub-group">
    <label for="toggleEveryMinute">Every minute</label>
      <div class="toggle-switch">
        <input type="checkbox" id="toggleEveryMinute" formControlName="toggleEveryMinute">
        <label for="toggleEveryMinute"></label>
      </div>
    </div>
    <div class="form-group sub-group">
      <label for="toggleEveryFiveMinutes">Every five minutes</label>
      <div class="toggle-switch">
        <input type="checkbox" id="toggleEveryFiveMinutes" formControlName="toggleEveryFiveMinutes">
        <label for="toggleEveryFiveMinutes"></label>
      </div>
    </div>
    <div class="form-group sub-group">
      <label for="toggleEveryTenMinutes">Every ten minutes</label>
      <div class="toggle-switch">
        <input type="checkbox" id="toggleEveryTenMinutes" formControlName="toggleEveryTenMinutes">
        <label for="toggleEveryTenMinutes"></label>
      </div>
    </div>
    <div class="form-group sub-group">
      <label for="toggleEveryHour">Every hour</label>
      <div class="toggle-switch">
        <input type="checkbox" id="toggleEveryHour" formControlName="toggleEveryHour">
        <label for="toggleEveryHour"></label>
      </div>
    </div>
    <div class="form-group sub-group">
      <label for="toggleEveryDay">Every day</label>
      <div class="toggle-switch">
        <input type="checkbox" id="toggleEveryDay" formControlName="toggleEveryDay">
        <label for="toggleEveryDay"></label>
      </div>
    </div>
    <div class="form-group sub-group">
      <label for="toggleEveryWeek">Every week</label>
      <div class="toggle-switch">
        <input type="checkbox" id="toggleEveryWeek" formControlName="toggleEveryWeek">
        <label for="toggleEveryWeek"></label>
      </div>
    </div>
  </section>
  <button type="submit" class="btn btn-primary">Save Settings</button>
</form>
