<h2>Login</h2>

<form
      clrForm
      novalidate
      clrLayout="horizontal"
      (ngSubmit)="onSubmit($event)"
      [formGroup]="loginForm"
      >
  <clr-input-container>
    <label for="username">Login</label>
    <input clrInput
           type="text"
           id="username"
           formControlName="username"
           placeholder="Enter value here"
           size="45">
    <clr-control-error *clrIfError="'required'">Username is required.</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label for="password">Password</label>
    <input clrInput
           type="password"
           formControlName="password"
           id="password"
           required
           placeholder="Enter your password"
           size="35">
    <clr-control-error *clrIfError="'required'">Password is required.</clr-control-error>
  </clr-input-container>
  <br/>
  <button [disabled]="loading" type="submit" class="btn btn-primary">Login</button>
  or <a [routerLink]="['/register']">register</a>
</form>
