<section class="sidenav-content">

  <!-- Dashboard -->
  <a class="nav-link" [routerLink]="['/user/dashboard']" routerLinkActive="active">Dashboard</a>

  <!-- Strategies -->
  <section class="nav-group">
    <input id="navStrategies" type="checkbox">
    <label for="navStrategies">Strategies</label>
    <ul class="nav-list">
      <li><a class="nav-link" [routerLink]="['user/strategy/github']" routerLinkActive="active">GitHub</a></li>
      <li><a class="nav-link" [routerLink]="['user/strategy/heartbeat']" routerLinkActive="active">Heartbeat</a></li>
    </ul>
  </section>

  <!-- User Security -->
  <a class="nav-link" [routerLink]="['/user/security']" routerLinkActive="active">Security</a>

  <!-- Admin -->
  <section class="nav-group">
    <input id="navAdmin" type="checkbox"/>
    <label for="navAdmin">Admin</label>
    <ul class="nav-list">
      <li><a class="nav-link" [routerLink]="['admin/audit-logs']"  routerLinkActive="active">Audit Logs</a></li>
      <li><a class="nav-link" [routerLink]="['admin/scheduler']"  routerLinkActive="active">Scheduler</a></li>
    </ul>
  </section>

</section>
