.action-bar {
  width:100%;
  position: relative;
  padding-bottom:10px;
  height: 50px;
  .content {
    float: right;
  }
}
.audit-log-entry {
  width: 100%;
  border-style: solid;
  border-color: #efefef;
  border-width: 1px 1px 1px 1px;
  margin-bottom: 5px;
  border-radius: 5px;

  .content {
    padding: 10px;
  }

  .footer {
    display: block;
    background-color: #efefef;
    padding-left: 10px;
    padding-top:2px;
    padding-bottom:2px;
  }
}
