<section class="sidenav-content">
  <a class="nav-link"[routerLink]="['/']">Overview</a>
  <section class="nav-group">
    <input id="navStrategies" type="checkbox">
    <label for="navStrategies">Strategies</label>
    <ul class="nav-list">
      <li><a class="nav-link" [routerLink]="['strategy/github']">GitHub</a></li>
      <li><a class="nav-link" [routerLink]="['strategy/heartbeat']">Heartbeat</a></li>
      <li><a class="nav-link" [routerLink]="['strategy/rss']">RSS</a></li>
      <li><a class="nav-link" [routerLink]="['strategy/twitter']">Twitter</a></li>
    </ul>
  </section>
  <section class="nav-group">
      <input id="navAdmin" type="checkbox">
      <label for="navAdmin">Admin</label>
      <ul class="nav-list">
        <li><a class="nav-link" [routerLink]="['admin/logs/list']">Logs</a></li>
      </ul>
    </section>
</section>
