<header class="header-7">
  <div class="branding">
      <span class="title">
        sammler.io
      </span>
  </div>
  <div class="header-actions">
    <clr-dropdown>
      <button class="nav-icon" clrDropdownTrigger>
        <clr-icon shape="user"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a [routerLink]="['login']" clrDropdownItem>Login</a>
        <a [routerLink]="['user/profile']" clrDropdownItem>Profile</a>
        <a [routerLink]="['user/settings']" clrDropdownItem>Settings</a>
        <a [routerLink]="['user/logout']" clrDropdownItem>Log out</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</header>
