<h2>Settings</h2>

<p>
  Define which strategies should be enabled for you.
</p>

<form class="clr-form">

  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Heartbeat</h3>
          <p class="card-text">
            Just a very simple service to demonstrate the functionality of sammler.io.
          </p>
        </div>
        <div class="card-footer">
          <div class="toggle-switch">
            <input type="checkbox" id="toggle_1">
            <label for="toggle_1">Enabled</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Twitter</h3>
          <p class="card-text">
            Track the history of your twitter activities.
          </p>
        </div>
        <div class="card-footer">
          <div class="toggle-switch">
            <input type="checkbox" id="toggle_2">
            <label for="toggle_2">Enabled</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
