<div class="action-box">
  <div class="action-box-content" (click)="refresh()">
    <clr-icon shape="refresh"></clr-icon>
    <span>Refresh</span>
  </div>
</div>
<table class="table">
  <thead>
  <tr>
    <th>Day</th>
    <th>Hour</th>
    <th>Action</th>
    <th>Description</th>
    <th>Details</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let log of auditLogs">
    <td>{{moment(log.ts).format('YYYY-MM-DD')}}</td>
    <td>{{moment(log.ts).format('HH:mm:ss')}}</td>
    <td>{{log.event_name}}</td>
    <td>{{log.description}}</td>
    <td></td>
  </tr>
  </tbody>
</table>
